
body{
    background-color: #eff2f4;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
.global_container{
    display: flex;
    width: 100%;
    height: auto;
    align-items: start;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}

/*VARIABLE*/
.container_popup{
    display: flex;
    width: auto;
    height: max-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.bloc_contenu3 form .custom-file-upload p{
    margin-left: 0%;
}
.custom-file-upload{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 27rem;
    height : 4.5rem ;
    font-size : 20px ;
    border : solid 3px rgb(230,230,230);
    border-radius :8px/8px; 
    margin-bottom: 2% ;
    margin-top : 2% ;
}
.custom-file-upload input[type="file"] {
    position: absolute!important;
    border: solid red!important;
    width: 20px!important;
    height: 20px!important;
    opacity:0!important;
    left: 44%!important;
}
.title_soumettre{
    color: black;
    font-size: 30px;
    margin: 2%;
    font-weight: 600;
    
}
.supprimer{
    background-color: none;
    border: none;
}
.etoile{
    /*VARABLE * QUI VA DANS SOUMETTRE IG*/
    font-size: 25px;
    font-weight: 1000;
    color: #1b3168;
}
a{
    color: #757575;
    text-decoration: none;
}
p{
    margin: 1rem;
    margin-left: 35px;
    font-size: 20px;
    line-height: 38px;
}
.connect{
    display: flex;
    width: auto;
    height: auto;
    color: black;
}
.mini_rond{
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #464646;
}

li{
    font-size: 20px;
    line-height: 38px;
    margin-left: 35px;
}
h2{
    margin-left: 35px;
}
.img_profile{
    display: flex;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    border-radius: 50%;
}
/*Login */
.box-button2 {
    border-radius: 5%;
    border: aliceblue;
    background-color: #f6f6f6;
    font-size: 15px;
    width: 270px;
    height: 75px;
    text-wrap: nowrap;
    font-weight :bolder ;
    color : rgb(60,60,60) ; 

}
.container_button_connect{
    display: flex;
    width: 40%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}
.errorform { 
    margin-left: 3%;
}
.box input { 
    width: 27rem;
    height: 4.5rem;
    font-size: 20px;
    border: solid 3px rgb(230, 230, 230);
    border-radius: 8px / 8px;
    margin-bottom: 1%;
    margin-top: 1%;
}
/*SLIDE GAUCHE*/
.bloc_invisible{
    display: flex;
    width: 300px;
    height: 100%;
}
.slide_gauche{
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100%;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  41px 41px 82px #d9d9d979,
                -41px -41px 82px #ffffff7c;
                font-family: "Epilogue", sans-serif;
                font-optical-sizing: auto;
                
}
.container_global_slidebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    height: 100%;
    margin: 1rem;
}
.saint_vincent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-bottom: 30px;
}
.container_nameofproject{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.projet_name, .name_of_school{
    display: flex;
    width: max-content;
    height: auto;
    align-items: end;
    justify-content: start;
    font-size: 25px;
    font-weight: 600;
}
.name_of_school{
    font-size: 15px;
    color: #5D7285;
}
.container_menutaskbar{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}
.ligne_slide_gauche{
    display: flex;
    align-items: center;
    justify-content: start;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    margin: 3%;
    color: #757575;
    transition: 0.3s;
    text-wrap: nowrap;
}
.ligne_slide_gauche:hover, .content_deconnect:hover{
    background-color: #f6f6f6;
    color: #1b3168;
    font-weight: 600;
    transition: 0.5s;
}
.container_content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.logo_sliderleft{
    width: 30px;
    height: 30px;
    fill: #1b3168;
    transition: 0.5s;
}
.slide_bar_top{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 5%;
    display: flex;
    background: white;
    width: 100%;
    height: 100px;
    justify-content: end;
    align-items: center;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}
/*Pagination*/
.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 5px;
}

.pagination a.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: auto;
    background-color: #fff;
    color: black;
    border : solid 2px black ;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*TOP CONTAINER & POP UP*/
.connect_container{
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    font-size: 20px;
}
.connexion_normal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
}
.pop_up{
    position: absolute;
    display: none;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: #e7e7e7;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 4%;
    transition: 0.5s ease;
}
.pop_up p{
    margin: 0.6rem;
    font-size: 18px;
}

.deconnect_container{
    display: flex;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: start;
}
.content_deconnect{
    display: flex;
    width: auto;
    height: max-content;
    margin-left: 9%;
    border-radius: 10px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.footer{
    position: absolute;
    right: 0;
    display: flex;
    width: 83%;
    height: 80px;
    align-items: center;
    font-size: 20px;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
} 
.footer p:hover{
    text-decoration: underline;
}
/*PARTI CONTENU*/
.content_mathsindex{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    flex-direction: row;
}
.bloc_global_page{
    display: flex;
    margin: 50px;
    width: 100%;
    height: auto;
    margin-left: 5%;
    align-items: start;
    flex-direction: column;
}
.php_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3%;
}
.title_categ{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: max-content;
    font-size: 35px;
    color: #1b3168;
    font-weight: 600;
    margin-top: 2%;
}
[class^="bloc_contenu"]{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    margin: 2%;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}
.bloc_contenu_accueil{
    height: 800px;
    justify-content: start;
}
.container_one_exo{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}
.title_exo{
    display: flex;
    width: 90%;
    height: max-content;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

table {
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    border: 2px solid #e8e8e8;
    width: 90%;
    border-radius: 20px;
    font-size: 18px;
  }
  th, .big_table {
    border: 1px solid #e8e8e8;
    padding: 15px;
    text-align: left;
  }
  .big_table{
    width: 300px;
  }
  td{
    border-top: solid #e8e8e8 1px;
    padding: 15px;
    height: 50px;
  }
  th {
    background-color: #f0f0f0;
    font-weight: initial;
  }
  .bulle_mc{
    border-top: solid #e8e8e8 1px;
    display: block;
    width: max-content;
    background: #dbdbdb;
    border-radius: 25px;
    width: max-content;
    height: max-content;
    margin: 15px;
    padding: 5px;

  }
  .gras_time{
    font-weight: 600;
  }
  .pagination{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

/*CSS PAGE RECHERCHE*/
form {
    display: flex;
    width : 100%;
    height : auto;
    padding : 2% ;
    display: flex;
    flex-direction: column;
    align-items: start;
 }
form option {
    width : 50% ;
    height : 4.5rem;
}
form select { 
    font-size : 20px ;
    width : 50% ;
    height : 4.5rem;
    border : solid 3px rgb(230,230,230);
    border-radius :8px/8px; 
    margin-bottom: 4% ;
    margin-top : 1% ;
}

form option:hover { 
    background-color : rgb(230,230,230);
  }
form label { 
    font-size : 20px ;
    color : rgb(50,50,50);
  }
[class^="container_button"]{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
}
form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    font-size : 27px;
    font-weight: 600;
    color : #757575;
    border-radius : 10px/10px ; 
    border: none;
    background-color : #f6f6f6;
}

/* SOUMETTRE PAGE INFORMATION GÉNÉRAL*/
.bloc_contenu3{
    margin-top: -1.5%;
}
.sections { 
    display : flex ;
    width: 100%;
    height: max-content;
    flex-direction : row;
    font-size: 27px;
    margin-right: 4%;
}
.sections p{
    display: flex;
    height: max-content;
    width: max-content;
    background: #455884;
    color: white;
    transition: 0.3s;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 10px 0px 0px;
}
.sections p:hover{
    transition: 0.5s;
    background: #1b3168;
}
.bloc_contenu3 form{ 
    margin-top : 0% ;
    height : auto ;
 }
.bloc_contenu3 form input{ 
    width : 27rem;
    height : 4.5rem ;
    font-size : 20px ;
    border : solid 3px rgb(230,230,230);
    border-radius :8px/8px; 
    margin-bottom: 2% ;
    margin-top : 2% ;
 }
.bloc_contenu3 form button { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 75px;
    font-size : 20px;
    font-weight: 600;
    margin-top : 1%;
    color : rgb(60,60,60);
    border-radius : 10px/10px ; 
    border : solid 3px rgb(230,230,230);
    background-color : rgb(230,230,230);
  }
.bouton_ajouter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    font-size : 20px;
    font-weight: 600;
    color : #757575;
    margin-top : 1%;
    color : rgb(60,60,60);
    border-radius : 10px/10px ; 
    border : solid 3px #52b788 !important;
    background-color : #52b788 !important;
}
.bloc_contenu3 form div { 
    display : flex ;
    flex-direction : row ;
 }
.bloc_contenu3 form div div { 
    display : flex ;
    flex-direction : column ;
    margin-right: 20% ;
  }
.bloc_contenu3 form select { 
    width : 25rem; 
    height: 3rem ;
}
.container_button2{
    justify-content: start;
}


/*ADMINISTRATION*/
/* Styles pour la boîte de dialogue */
.container_admin_search{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}
.dialog {
    display: none;
    width : 29rem ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10001; /* Valeur de z-index supérieure pour s'assurer que la boîte de dialogue apparaît au-dessus de la superposition modale */
  }

  .dialog-content {
    text-align: center;
  }
  .align { 
    display : flex ;
    flex-direction : row ;
   }
   .align div { 
      display : inline ;
      line-height : 1rem ;
      text-align : left ;
    }
   .align img { 
      display : flex ;
      flex-direction : column ;
      width : 30px;
      height : 30px;
      padding : 2% ;
      border-radius: 10px/10px;
      margin-top : 5% ;
      margin-right : 1% ;
      background-color : rgb(240,240,240);

   }
  .dialog button {
    width : 9rem;
    margin-right : 1% ;
  }
  button img { 
    width : 0.8rem ;
    height : 0.8rem ;
    top : 50% ;
    left : 50% ;
    padding : 0;
    margin : 0;
   }
  .dialog-content .close { 
    background-color : rgb(240,240,240);
    border : none ;
    border-radius : 5rem ;
    width: 1.5rem  ;
    height : 1.5rem;
    right : 50% ;
    top : 0;
    padding : 0;
    margin : 0;
    justify-content : right ;
   }
  #closeDialog { 
     padding: 10px 20px;
    background-color: rgb(240,240,240);
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   }
   #confirm { 
    padding: 10px 20px;
    background-color: rgb(100,100,100);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   }

  .dialog button:hover {
    background-color: #0056b3;
  }

  /* Styles pour la superposition modale */
  .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
    z-index: 10000; /* Valeur de z-index pour être en dessous de la boîte de dialogue mais au-dessus du reste de la page */
  }

  /* Styles pour le reste de la page */
  /* Vous pouvez ajuster les styles de votre page pour griser le contenu lorsqu'il est sous la superposition modale */
  body.modal-open {
    overflow: hidden; /* Empêche le défilement de la page lorsque la boîte de dialogue est ouverte */
  }

.Container_top{
    display: flex;
    width: 100%;
    height: auto;
}
.contribu_form{
    padding: 0%;
}

.bouton_tableau_noback{
    background: none;
    border: none;
}
body{
    background-color: #eff2f4;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
.global_container{
    display: flex;
    width: 100%;
    height: auto;
    align-items: start;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}

/*VARIABLE*/
.error{
    font-size: 15px;
    color: red;
    margin: 0.4rem;
}
.supprimer{
    background-color: none;
    border: none;
}
.etoile{
    /*VARABLE * QUI VA DANS SOUMETTRE IG*/
    font-size: 25px;
    font-weight: 1000;
    color: #1b3168;
}
a{
    color: #757575;
    text-decoration: none;
}
p{
    margin: 1rem;
    margin-left: 35px;
    font-size: 20px;
    line-height: 38px;
}
.connect{
    display: flex;
    width: auto;
    height: auto;
    color: black;
}
.mini_rond{
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #464646;
}

li{
    font-size: 20px;
    line-height: 38px;
    margin-left: 35px;
}
h2{
    margin-left: 35px;
}
.img_profile{
    display: flex;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    border-radius: 50%;
}
.bouton_ajouter{
    
}

/*SLIDE GAUCHE*/
.bloc_invisible{
    display: flex;
    width: 300px;
    height: 100%;
}
.slide_gauche{
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100%;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  41px 41px 82px #d9d9d979,
                -41px -41px 82px #ffffff7c;
                font-family: "Epilogue", sans-serif;
                font-optical-sizing: auto;
                
}
.container_global_slidebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    height: 100%;
    margin: 1rem;
}
.saint_vincent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-bottom: 30px;
}
.container_nameofproject{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.projet_name, .name_of_school{
    display: flex;
    width: max-content;
    height: auto;
    align-items: end;
    justify-content: start;
    font-size: 25px;
    font-weight: 600;
}
.name_of_school{
    font-size: 15px;
    color: #5D7285;
;
}
.container_menutaskbar{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}
.ligne_slide_gauche{
    display: flex;
    align-items: center;
    justify-content: start;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    margin: 3%;
    color: #757575;
    transition: 0.3s;
    text-wrap: nowrap;
}
.ligne_slide_gauche:hover, .content_deconnect:hover{
    background-color: #f6f6f6;
    color: #1b3168;
    font-weight: 600;
    transition: 0.5s;
}
.container_content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.logo_sliderleft{
    width: 30px;
    height: 30px;
    fill: #1b3168;
    transition: 0.5s;
}
.slide_bar_top{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 5%;
    display: flex;
    background: white;
    width: 100%;
    height: 100px;
    justify-content: end;
    align-items: center;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}
/*TOP CONTAINER & POP UP*/
.connect_container{
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    font-size: 20px;
}
.connexion_normal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
}
.pop_up{
    position: absolute;
    display: none;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: #e7e7e7;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 4%;
    transition: 0.5s ease;
}
.pop_up p{
    margin: 0.6rem;
    font-size: 18px;
}

.deconnect_container{
    display: flex;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: start;
}
.content_deconnect{
    display: flex;
    width: auto;
    height: max-content;
    margin-left: 9%;
    border-radius: 10px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.footer{
    position: absolute;
    right: 0;
    display: flex;
    width: 83%;
    height: 80px;
    align-items: center;
    font-size: 20px;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
} 
.footer p:hover{
    text-decoration: underline;
}
/*PARTI CONTENU*/
.content_mathsindex{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    flex-direction: row;
}
.bloc_global_page{
    display: flex;
    margin: 50px;
    width: 100%;
    height: auto;
    margin-left: 5%;
    align-items: start;
    flex-direction: column;
}
.php_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3%;
}
.title_categ{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: max-content;
    font-size: 35px;
    color: #1b3168;
    font-weight: 600;
    margin-top: 2%;
}
[class^="bloc_contenu"]{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    margin: 2%;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}
.bloc_contenu_accueil{
    height: 800px;
    justify-content: start;
}
.container_one_exo{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}
.title_exo{
    display: flex;
    width: 90%;
    height: max-content;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

table {
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    border: 2px solid #e8e8e8;
    width: 90%;
    border-radius: 20px;
    font-size: 18px;
  }
  th, .big_table {
    border: 1px solid #e8e8e8;
    padding: 15px;
    text-align: left;
  }
  .big_table{
    width: 300px;
  }
  td{
    border-top: solid #e8e8e8 1px;
    padding: 15px;
    height: 50px;
  }
  th {
    background-color: #f0f0f0;
    font-weight: initial;
  }
  .bulle_mc{
    border-top: solid #e8e8e8 1px;
    display: block;
    width: max-content;
    background: #dbdbdb;
    border-radius: 25px;
    width: max-content;
    height: max-content;
    margin: 15px;
    padding: 5px;

  }
  .gras_time{
    font-weight: 600;
  }
  .pagination{
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 110px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

/*CSS PAGE RECHERCHE*/
form {
    display: flex;
    width : 100%;
    height : auto;
    padding : 2% ;
    display: flex;
    flex-direction: column;
    align-items: start;
 }
form option {
    width : 50% ;
    height : 4.5rem;
}
form select { 
    font-size : 20px ;
    width : 50% ;
    height : 4.5rem;
    border : solid 3px rgb(230,230,230);
    border-radius :8px/8px; 
    margin-bottom: 4% ;
    margin-top : 1% ;
}

form option:hover { 
    background-color : rgb(230,230,230);
  }
form label { 
    font-size : 20px ;
    color : rgb(50,50,50);
  }
[class^="container_button"]{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
}
form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    font-size : 27px;
    font-weight: 600;
    color : #757575;
    border-radius : 10px/10px ; 
    border: none;
    background-color : #f6f6f6;
}

/* SOUMETTRE PAGE INFORMATION GÉNÉRAL*/
.bloc_contenu3{
    margin-top: -1.5%;
}
.sections { 
    display : flex ;
    width: 100%;
    height: max-content;
    flex-direction : row;
    font-size: 27px;
    margin-right: 4%;
}
.sections p{
    display: flex;
    height: max-content;
    width: max-content;
    background: #455884;
    color: white;
    transition: 0.3s;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 10px 0px 0px;
}
.sections p:hover{
    transition: 0.5s;
    background: #1b3168;
}
.bloc_contenu3 form{ 
    margin-top : 0% ;
    height : auto ;
 }
.bloc_contenu3 form input{ 
    width : 27rem;
    height : 4.5rem ;
    font-size : 20px ;
    border : solid 3px rgb(230,230,230);
    border-radius :8px/8px; 
    margin-bottom: 2% ;
    margin-top : 2% ;
 }
.bloc_contenu3 form button { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 75px;
    font-size : 20px;
    font-weight: 600;
    margin-top : 1%;
    color : rgb(60,60,60);
    border-radius : 10px/10px ; 
    border : solid 3px rgb(230,230,230);
    background-color : rgb(230,230,230);
  }
.bouton_ajouter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    font-size : 20px;
    font-weight: 600;
    color : #757575;
    margin-top : 1%;
    color : rgb(60,60,60);
    border-radius : 10px/10px ; 
    border : solid 3px #52b788 !important;
    background-color : #52b788 !important;
}
.bloc_contenu3 form div { 
    display : flex ;
    flex-direction : row ;
 }
.bloc_contenu3 form div div { 
    display : flex ;
    flex-direction : column ;
    margin-right: 20% ;
  }
.bloc_contenu3 form select { 
    width : 27rem; 
    height: 3rem ;
}
.container_button2{
    justify-content: start;
}


/*ADMINISTRATION*/
/* Styles pour la boîte de dialogue */
.container_admin_search{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}
.dialog {
    display: none;
    width : 29rem ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10001; /* Valeur de z-index supérieure pour s'assurer que la boîte de dialogue apparaît au-dessus de la superposition modale */
  }

  .dialog-content {
    text-align: center;
  }
  .align { 
    display : flex ;
    flex-direction : row ;
   }
   .align div { 
      display : inline ;
      line-height : 1rem ;
      text-align : left ;
    }
   .align img { 
      display : flex ;
      flex-direction : column ;
      width : 30px;
      height : 30px;
      padding : 2% ;
      border-radius: 10px/10px;
      margin-top : 5% ;
      margin-right : 1% ;
      background-color : rgb(240,240,240);

   }
  .dialog button {
    width : 9rem;
    margin-right : 1% ;
  }
  button img { 
    width : 0.8rem ;
    height : 0.8rem ;
    top : 50% ;
    left : 50% ;
    padding : 0;
    margin : 0;
   }
  .dialog-content .close { 
    background-color : rgb(240,240,240);
    border : none ;
    border-radius : 5rem ;
    width: 1.5rem  ;
    height : 1.5rem;
    right : 50% ;
    top : 0;
    padding : 0;
    margin : 0;
    justify-content : right ;
   }
  #closeDialog { 
     padding: 10px 20px;
    background-color: rgb(240,240,240);
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   }
   #confirm { 
    padding: 10px 20px;
    background-color: rgb(100,100,100);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   }

  .dialog button:hover {
    background-color: #0056b3;
  }

  /* Styles pour la superposition modale */
  .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
    z-index: 10000; /* Valeur de z-index pour être en dessous de la boîte de dialogue mais au-dessus du reste de la page */
  }

  /* Styles pour le reste de la page */
  /* Vous pouvez ajuster les styles de votre page pour griser le contenu lorsqu'il est sous la superposition modale */
  body.modal-open {
    overflow: hidden; /* Empêche le défilement de la page lorsque la boîte de dialogue est ouverte */
  }

.Container_top{
    display: flex;
    width: 100%;
    height: auto;
}
.contribu_form{
    padding: 0%;
}

.bouton_tableau_noback{
    background: none;
    border: none;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond gris semi-transparent */
    z-index: 9999; /* Assure que la modal-overlay est au-dessus de tout le contenu */
}
